[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
nltk = "*"
scikit-learn = "*"
scipy = "*"
tqdm = "*"
"newspaper3k" = "*"
requests = "*"
pandas = "*"
tensorflow = "*"
gensim = "*"


[dev-packages]



[requires]

python_version = "3.6"
